h6 {
    font-size: 18px;
}

textarea{
    width: 85%;
}

label{
    display: inline-block;
    width: 170px;
    margin-bottom: 10px;
}

.error {
    color: red;
}

input[ type="radio"] + label{  /*Если за input type="radio" идет label*/
    display: inline;
}

input[ type="number"] {
    width:50px;
}

input[ type="text"] {
    width: calc(100% - 400px)
}